webapp/css/
platform/core/common/styles/css/
index.html
target/
node_modules/
.cache-loader*/
coverage/
npm-debug.log*
fds-demo.bundle.min.*
fds-demo.vendor.min.*
fds-demo.styles.min.*

# Intellij
.idea/
*.iml
*.iws
*~
