node_modules/karma*
node_modules/protractor*
node_modules/grunt*
node_modules/jasmine*
node_modules/webdriver*
.github/
demo-app/gh-pages*
scripts/
src/
test/
target/
npm-debug.log*
Gruntfile.js


# Intellij
.idea/
*.iml
*.iws
*~
